* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    text-align: center;
    color: #e53170;
    font-size: 40px;
    padding-top: 20px;
}

.paragrafo {
    display: flex;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.box {
    height: 100px;
    width: 320px;
    background-color: black;
    display: flex;
}

img {
    align-self: flex-end;
    height: 100px;
    width: 100px;
}

.colonna {
    display: block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
}

.nome {
    color: white;
    justify-self: flex-end;
    text-transform: uppercase;
    font-weight: 600;
}

.qualifica {
    color: white;
}

.email {
    color: #4dcce3;
}